[Unit]
Description=Media Syntaxis Streamer - enrutador de feeds (MediaMTX)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=mediasat
WorkingDirectory=/home/mediasat/streamer
ExecStart=/home/mediasat/streamer/bin/mediamtx /home/mediasat/streamer/mediamtx.yml
Restart=always
RestartSec=2
Nice=-5
MemoryMax=2G

[Install]
WantedBy=multi-user.target
